:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}
#container {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
#container > #frame-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container > #frame-container > iframe {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}

#container > #menu-container {
  overflow: hidden;
  box-sizing: border-box;
  height: 64px;
}
#container > #menu-container.fullscreen {
  height: 0;
}

#container > #menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container > #menu-container > #button-container {
  display: flex;
  gap: 10px;
}

input,
button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;

  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

.update-dialog {
  width: 100%;
  height: 100%;

  font-size: 14px;
}

.update-dialog .current-version {
  padding: 2px;
  font-weight: bold;
}

.update-dialog .update-body {
  padding: 8px;
  font-size: 12px;
}

.update-dialog .new-version {
  color: green;
  border-bottom: 1px dashed green;
}

.update-dialog .update-body .update-content {
  color: #333;
  margin-top: 4px;
  border-bottom: 1px dashed green;
}

.update-footer {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;

  gap: 6px;
}

.quit_confirm {
  height: 100%;
  text-align: center;
}

.quit_confirm .btn-group {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  gap: 10px;
}
